:root {
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --border-radius: 0.35rem;
    --primary-color: #0b1216;
    --bg-color: #fafafa;
    --bg-secondary-color: #ffffff;
}

.dark {
    --primary-color: #fafafa;
    --bg-color: #212e37;
    --bg-secondary-color: #2b3743;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: background 0.2s ease-in-out; */
}

.app {
    width: 100vw;
    min-height: 100vh;
    background: var(--bg-color);
    font-family: Nunito Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 60px;
    background: var(--bg-secondary-color);
    transition: background 0.3s ease-in-out;
}

article {
    background: var(--bg-secondary-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.card {
    vertical-align: top;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

.card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    object-fit: cover;
    height: 18vh;
}

.card-content {
    padding-left: 2rem;
    text-align: left;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    text-align: left;
}

.flag {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4rem;
}

.search-filter {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.filter {
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow);
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    background: var(--bg-secondary-color);
}

.filter-select {
    display: block;
    border: none;
    outline: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    background: var(--bg-secondary-color);
    color: var(--primary-color);
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
    outline: none;
    border: none;
    background: var(--bg-secondary-color);
}

.buttons {
    float: left;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background: var(--bg-secondary-color);
    color: var(--primary-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttons i:before{
    padding-right: 10px;
    display: block;
}

.buttons-small {
    float: left;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background: var(--bg-secondary-color);
    color: var(--primary-color);
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.form-search i {
    opacity: 0.5;
}

.search input {
    border: none;
    outline: none;
    margin-left: 1rem;
    background: var(--bg-secondary-color);
    color: var(--primary-color);
    padding: 12px 20px;
    box-sizing: border-box;
}


.details-wrapper {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 100vh;
    grid-template-areas: "buttonArea buttonArea"
                         "flagArea detailsArea";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 50% 50%;
    grid-gap: 4rem;
}

.country-name {
    text-align: left;
    font-weight: 800;
    font-size: 30px;
    margin: 0 0 20px;
}

.left-col {
    text-align: left;
}

.right-col{
    text-align: left;
}

.label {
    margin: 0;
    line-height: 34px;
}

.borders {
    display: grid;
    width: 20%;
    height: 150px;
    float: left;
    margin: 10px 15px 10px 0;
}

.country-flag {
    grid-area: flagArea;
}

.country-details {
    grid-area: detailsArea;
    padding: 0 30px;
}

.data-wrapper {
    display: grid;
    grid-template-areas: "leftCol rightCol" "borderCountry borderCountry";
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin: 10px 0 50px;
}

.border-countries {
    grid-template-columns: 50% 50%;
    grid-area: borderCountry;
}

::placeholder {
   color: var(--primary-color);
}

@media only screen and (device-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .card img {
    height: 15vh;
    }
}

@media only screen and (device-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .card img {
    height: 15vh;
    }
}


@media (max-width: 750px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .card img {
    height: 15vh;
    }
}

@media (max-width: 600px) {
    .navbar-content {
        font-size: 0.6rem;
    }

    .filter-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-search {
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-search input {
        width: 85%;
    }

    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .search-filter {
        justify-content: space-between;
    }

    select:focus, textarea:focus, input:focus {
        font-size: 18px;
    }

    .card img {
    height: 20vh;
    }
}

